.container {
  background: var(--gray-800);
  padding: 1.25rem 1.75rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 0.5rem;
  max-width: 50rem;
}

.container + .container {
  margin-top: 1.75rem;
}

.profile {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.profile img {
  box-sizing: initial;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 0.5rem;
  outline: 2px solid var(--green-500);
}

.steps {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--white);
}
